<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>46916854469-7moqdodu2isuo4r6tmm1f81b7eb0olut.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.46916854469-7moqdodu2isuo4r6tmm1f81b7eb0olut</string>
	<key>API_KEY</key>
	<string>AIzaSyByaA59iDqAyHG6w2gp-SEOThDqyRyIFpk</string>
	<key>GCM_SENDER_ID</key>
	<string>46916854469</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.empty.pp.PageParser</string>
	<key>PROJECT_ID</key>
	<string>garage-618af</string>
	<key>STORAGE_BUCKET</key>
	<string>garage-618af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:46916854469:ios:fd52b56c16d78a61</string>
	<key>DATABASE_URL</key>
	<string>https://garage-618af.firebaseio.com</string>
</dict>
</plist>